docker.enabled = true
params {

    // workflow parameters
    
    link                    = null
    outdir                  = null
    publish_dir_mode        = "copy"
    single_end              = null
    skip_sra                = false
    skip_ena                = false
    skip_geo                = false
    skip_geo_fastq          = false
    skip_design             = false

    
    // samplesheet parameters

    samplesheet             = null
    header                  = false


    // ENA parameters

    ena_data_link           = "ftp://ftp.sra.ebi.ac.uk/vol1"
    ena_metadata_link       = "https://www.ebi.ac.uk/ena/portal/api/filereport?"

    ena_result              = "read_run"
    ena_fields              = null
    ena_format              = "tsv"
    ena_download            = true
    ena_limit               = 0

    
    // GEO parameters
    withSRA                 = false

    // resources params
    max_cpus                = 12
    max_memory              = 36.GB
    max_time                = 8.h 
 
}

manifest {
    name                = "biofetch"
    contributors        = [
        [
            name: 'Khoi Bui Dinh',
            affiliation: 'Pacific Informatics',
            email: 'khoibui.personal@gmail.com',
            github: '@imkhoibui',
            contribution: ['author', 'maintainer']
        ],
        [
            name: 'Bao-Chau Duong',
            affiliation: 'McGill University',
            email: 'baochauduong94@gmail.com',
            github: '@cduong11',
            contribution: ['author', 'maintainer']
        ]
    ]
    description     = """Fetching Next-Generation Sequencing Data from Public Database"""
    version         = '1.0.0'
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/metadata.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}