docker.enabled = true
params {

    // workflow parameters
    
    link                    = null
    outdir                  = null
    publish_dir_mode        = "copy"
    single_end              = true

    
    // samplesheet parameters

    samplesheet             = null
    header                  = false


    // ENA parameters

    ena_data_link           = "ftp://ftp.sra.ebi.ac.uk/vol1"
    ena_metadata_link       = "https://www.ebi.ac.uk/ena/portal/api/filereport?"

    ena_result              = "read_run"
    ena_fields              = null
    ena_format              = "tsv"
    ena_download            = true
    ena_limit               = 0

    
    // GEO parameters
    withSRA                 = false

 
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/metadata.config'