/*
    Config file for metadata selection
*/

params {
    ena_metadata {
        bam_bytes                               = false
        bam_ftp                                 = false
        bam_md5                                 = false
        base_count                              = false
        broker_name                             = false
        center_name                             = false
        experiment_accession                    = true
        experiment_alias                        = false
        experiment_title                        = true
        fastq_ascera                            = false
        fastq_bytes                             = false
        fastq_ftp                               = false
        fastq_galaxy                            = false                    
        fastq_md5                               = false
        first_created                           = false
        first_public                            = false
        instrument_model                        = true
        instrument_platform                     = true
        last_updated                            = false
        library_layout                          = true
        library_name                            = true
        library_selection                       = true
        library_source                          = true
        library_strategy                        = true
        nominal_length                          = false
        nominal_sdev                            = false
        read_count                              = true
        run_accession                           = true
        run_alias                               = false
        sample_accession                        = true
        sample_alias                            = false
        sample_title                            = true
        scientific_name                         = true
        secondary_sample_accession              = false
        secondary_study_accession               = false
        sra_aspera                              = false
        sra_bytes                               = false
        sra_ftp                                 = false
        sra_galaxy                              = false
        sra_md5                                 = false
        study_accession                         = true
        study_alias                             = false
        study_title                             = false
        submission_accession                    = false
        submitted_aspera                        = false
        submitted_bytes                         = false
        submitted_format                        = false
        submitted_ftp                           = false
        submitted_galaxy                        = false
        submitted_md5                           = false
        tax_id                                  = false
    }
}