process {
    withName: PREFETCH {
        ext.args = ""
    }

    withName: FASTERQ_DUMP {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/fastq/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GET_ENA {
        ext.args = ""
        ext.ftp = "ftp://ftp.sra.ebi.ac.uk/vol1"
        publishDir = [
            path: { "${params.outdir}/fastq/" },
            mode: params.publish_dir_mode
        ]
    }
}