process {
    withName: FETCH_RUN_ACCESSION {
        publishDir = [
            path: { "${params.outdir}/fetch_run_accession/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { file -> "run_accession.csv" }
        ]
    }

    withName: ENA_DATAGET {
        maxForks = 8
        publishDir = [
            path: { "${params.outdir}/ENA/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SRATOOLS_FASTERQDUMP {
        publishDir = [
            path: { "${params.outdir}/NCBI/${meta.id}/${meta.run_id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: CREATE_DESIGN {
        publishDir = [
            path: { "${params.outdir}/design/${meta.id}/" },
            mode: params.publish_dir_mode,
        ]
    }
}