process {
    withName: PREFETCH {
        ext.args = ""
    }

    withName: FASTERQ_DUMP {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/SRA/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GET_ENA {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/ENA/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GET_GEO {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/GEO/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GET_GEO_SRX {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/GEO/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GET_SRA_FROM_SRX {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/GEO/${meta}/SRX/" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: PREFETCH_GEO {
        ext.args = ""
    }

    withName: FASTERQ_DUMP_GEO {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/GEO/FASTQ/${meta}/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FETCH_RUN_ACCESSION {
        publishDir = [
            path: { "${params.outdir}/fetch_run_accession/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { file -> "run_accession.csv" }
        ]
    }

    withName: ENA_DATAGET {
        maxForks = 8
        publishDir = [
            path: { "${params.outdir}/ENA/${id}" },
            mode: params.publish_dir_mode,
        ]
    }
}